// Custom bootstrap variables must be set or import before bootstrap itself.
@import "bootstrap";
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

.commenter{
  font-weight: bold;
}
.comment{
      width: 90%;
    margin-left: 45px;
    border: 1px solid;
    margin-left: 1;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
}
.box-comments{
  margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid;
    padding: 20px 10px 30px 20px;
    border-radius: 7px;
}
.comment-title{
      margin-bottom: 20px;
}